




<nav class="navbar navbar-inverse navbar-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand custom-brand" href="#/calculator">PAVE Truss Web App</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#truss-navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="truss-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="" ng-click="clearInputSet()">Clear</a></li>
                <li><a href="" ng-click="loadSample()">Example</a></li>
                <!-- <li><a href="#/datatables">Data Tables</a></li>
                <li><a href="#/login">Login</a></li> -->
            </ul>
        </div>
    </div>
</nav>
