
<div class="navbar navbar-inverse navbar-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand custom-brand" href="#/calculator">Truss Web App</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="" ng-click="clearInputSet()">Clear</a></li>
                <li><a href="" ng-click="loadSample()">Sample</a></li>
                <li><a href="#/datatables">Data Tables</a></li>
                <li><a href="#/login">Login</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<div class="trusswin app-row app-col">
    <div class="trussmain datainput app-col scroll-y">
        <h2 ng-show="!isEditingTitle" ng-click="clickTitle()">{{inputSet.properName()}}</h2>
        <table ng-show="isEditingTitle" class="title-input">
            <tr>
                <td><input type="text" ng-model="titleInput"></td>
                <td><a ng-click="doneTitleEditing()">Done</a></td>
            </tr>
        </table>
        <h3 ng-click="addJoint()">Joint Table [+]</h3>
        <table class="input-table">
            <tr>
                <th>#</th>
                <th colspan="2">Position (x,y)</th>
                <th colspan="2">Load (x,y)</th>
                <th colspan="2">Restraint (x,y)</th>
            </tr>
            <tr ng-repeat="joint in inputSet.jointSet">
                <td>{{joint.id}}</td>
                <td><input type="number" ng-model="joint.x"></td>
                <td><input type="number" ng-model="joint.y"></td>
                <td><input type="number" ng-model="joint.loadX"></td>
                <td><input type="number" ng-model="joint.loadY"></td>
                <td><input type="checkbox" ng-model="joint.isRestraintX"></td>
                <td><input type="checkbox" ng-model="joint.isRestraintY"></td>
            </tr>
        </table>
        <h3 ng-click="addBeamSpec()">Beam Specification Table [+]</h3>
        <table class="input-table">
            <tr>
                <th>#</th>
                <th>Cross-sectional Area</th>
                <th>Elasticity</th>
            </tr>
            <tr ng-repeat="type in inputSet.listBeamTypes()">
                <td>{{type.id}}</td>
                <td><input type="number" ng-model="type.area" class="wide"></td>
                <td><input type="number" ng-model="type.elasticity" class="wide"></td>
            </tr>
        </table>
        <h3 ng-click="addMember()">Member Table [+]</h3>
        <table class="input-table">
            <tr>
                <th>#</th>
                <th>Left Joint</th>
                <th>Right Joint</th>
                <th>Beam Type</th>
            </tr>
            <tr ng-repeat="member in inputSet.memberSet">
                <td>{{member.id}}</td>
                <td><input type="number" ng-model="member.jointLeft"></td>
                <td><input type="number" ng-model="member.jointRight"></td>
                <td><input type="number" ng-model="member.beamId"></td>
            </tr>
        </table>
    </div>
    <div class="trussmain right-pane app-col">
        <ul class="nav nav-tabs">
            <li ng-class="{'active':isShowingDiagram}">
                <a href="" ng-click="showDiagram()">Diagram</a></li>
            <li ng-class="{'active':(!isShowingDiagram)}">
                <a href="" ng-click="showResult()">Result</a></li>
        </ul>
        <div class="truss-diagram app-row" ng-show="isShowingDiagram">
            <svg>
                <g ng-attr-transform="translate({{axis}},0)"
                   ng-repeat="axis in horizontalAxisSet()">
                    <line class="diagram-grid"
                          x1="0"
                          y1="0"
                          x2="0"
                          ng-attr-y2="{{diagramDimension()[1]}}"></line>
                    <text x="3" y="13" class="diagram-grid-label">
                        {{decorrectHorizontal(axis).toFixed(0)}}</text>
                </g>
                <g ng-attr-transform="translate(0,{{axis}})" ng-repeat="axis in verticalAxisSet()">
                    <line class="diagram-grid"
                          x1="0"
                          y1="0"
                          ng-attr-x2="{{diagramDimension()[0]}}"
                          y2="0"></line>
                    <text x="3" y="-5" class="diagram-grid-label">
                        {{decorrectVertical(axis).toFixed(0)}}</text>
                </g>
                <line ng-repeat="member in inputSet.memberSet"
                      stroke="green"
                      stroke-width="2"
                      ng-attr-x1="{{correctHorizontal(inputSet.jointForId(member.jointLeft).x)}}"
                      ng-attr-y1="{{correctVertical(inputSet.jointForId(member.jointLeft).y)}}"
                      ng-attr-x2="{{correctHorizontal(inputSet.jointForId(member.jointRight).x)}}"
                      ng-attr-y2="{{correctVertical(inputSet.jointForId(member.jointRight).y)}}"></line>
                <g ng-repeat="joint in inputSet.jointSet"
                   ng-attr-transform="translate({{correctHorizontal(joint.x)}},{{correctVertical(joint.y)}})">
                    <circle class="joint-diagram" cx="0" cy="0" r="10"></circle>
                    <text x="15" y="15" dy=".50em">{{joint.id}}</text>
                </g>
            </svg>
            <div class="corner">
                <input type="image" src="res/button_up.png" ng-click="zoomPlus()"><br/>
                <input type="image" src="res/button_down.png" ng-click="zoomMinus()">
            </div>
        </div>
        <div ng-show="!isShowingDiagram" class="truss-result app-col app-row scroll-y">
            <h3>Joint Result Table</h3>
            <table class="result-table">
                <tr>
                    <th>#</th>
                    <th colspan="2">Displacement (x,y)</th>
                    <th colspan="2">Reaction (x,y)</th>
                </tr>
                <tr ng-repeat="jointResult in resultSet.jointResultSet">
                    <td>{{jointResult.id}}</td>
                    <td>{{sigFig(jointResult.displacementX)}}</td>
                    <td>{{sigFig(jointResult.displacementY)}}</td>
                    <td>{{sigFig(jointResult.reactionX)}}</td>
                    <td>{{sigFig(jointResult.reactionY)}}</td>
                </tr>
            </table>
            <h3>Member Result Table</h3>
            <table class="result-table">
                <tr>
                    <th>#</th>
                    <th>Force</th>
                </tr>
                <tr ng-repeat="memberResult in resultSet.memberResultSet">
                    <td>{{memberResult.id}}</td>
                    <td>{{sigFig(memberResult.force)}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

