<!DOCTYPE html>
<html lang=en ng-app="TrussApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Truss Web App</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <!-- Loading AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>

    <!-- Loading the application code -->
    <script src="js/structures.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>

</head>
<body ng-controller="InputPaneCtrl">
<!-- Update later to reuse navbar code across all pages -->
<div class="navbar navbar-inverse navbar-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand custom-brand" href="./main.html">Truss Web App</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="" ng-click="clearInputPane()">Clear</a></li>
                <li><a href="" ng-click="clickSample()">Sample</a></li>
                <li><a href="./datatables.html">Data Tables</a></li>
                <li><a href="./login.html">Login</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="trusswin app-row app-col">
    <div class="trussmain datainput app-col scroll-y">
        <h2 ng-show="!isEditingTitle" ng-click="clickTitle()">{{inputSet.properName()}}</h2>
        <table ng-show="isEditingTitle" class="title-input">
            <tr>
                <td><input type="text" ng-model="titleInput"></td>
                <td><a ng-click="doneTitleEditing()">Done</a></td>
            </tr>
        </table>

        <h3>Joint Table</h3>
        <table class="input-table">
            <tr>
                <th>Joint Number</th>
                <th>Position (x,y)</th>
                <th>Load (x,y)</th>
                <th>Restraint (x,y)</th>
            </tr>
            <tr ng-repeat="joint in inputSet.jointSet">
                <td>{{joint.id}}</td>
                <td>{{joint.x}},{{joint.y}}</td>
                <td>{{joint.loadX}},{{joint.loadY}}</td>
                <td>{{joint.isRestraintX}},{{joint.isRestraintY}}</td>
            </tr>
            <tr>
                <td><input type="number" ng-model="editingJoint.id"></td>
                <td><input type="number" ng-model="editingJoint.x"></td>
                <td><input type="number" ng-model="editingJoint.y"></td>
                <td><input type="number"></td>
            </tr>
            <tr>
                <td colspan="4"><a ng-click="submitJoint()">Submit</a></td>
            </tr>
        </table>

        <h3>Member Table</h3>
        <table class="input-table">
            <tr>
                <th>Member Number</th>
                <th>Left Joint</th>
                <th>Right Joint</th>
                <th>Beam Type</th>
            </tr>
            <tr ng-repeat="member in inputSet.memberSet">
                <td>{{member.id}}</td>
                <td>{{member.jointLeft}}</td>
                <td>{{member.jointRight}}</td>
                <td>{{inputSet.beamTypeIdForMember(member)}}</td>
            </tr>
            <tr>
                <td><input type="number"></td>
                <td><input type="number"></td>
                <td><input type="number"></td>
                <td><input type="number"></td>
            </tr>
            <tr>
                <td colspan="4"><a>Submit</a></td>
            </tr>
        </table>

        <h3>Beam Specification Table</h3>
        <table class="input-table">
            <tr>
                <th>Beam Type Number</th>
                <th>Cross-sectional Area</th>
                <th>Elasticity</th>
            </tr>
            <tr ng-repeat="type in inputSet.listBeamTypes()">
                <td>{{type.id}}</td>
                <td>{{type.area}}</td>
                <td>{{type.elasticity}}</td>
            </tr>
            <tr>
                <td><input type="number"></td>
                <td><input type="number"></td>
                <td><input type="number"></td>
            </tr>
            <tr>
                <td colspan="3"><a>Submit</a></td>
            </tr>
        </table>

    </div>

    <div class="trussmain diagram app-col">
        <h3>Diagram Pane</h3>
    </div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</body>
</html>