<!DOCTYPE html>
<html lang=en ng-app="TrussApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Truss Web App</title>

    <!-- Bootstrap core CSS -->
    <link href="./dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <!-- Loading AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>

    <!-- Loading the application code -->
    <script src="js/controllers.js"></script>
    <script src="js/structures.js"></script>
</head>
<body>
<!-- Update later to reuse navbar code across all pages -->
<div class="navbar navbar-inverse navbar-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand custom-brand" href="./main.html">Truss Web App</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="./main.hmtl">Clear</a></li>
                <li><a href="./datatables.html">Sample</a></li>
                <li><a href="./datatables.html">Data Tables</a></li>
                <li><a href="./login.html">Login</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="trusswin app-row app-col">
    <div class="trussmain datainput app-col scroll-y">
        <h2>Untitled</h2>

        <h3>Joint {{'Tab' + 'le'}}</h3>
        <table class="input-table" ng-controller="JointTableCtrl">
            <tr>
                <th>Joint Number</th>
                <th>X-coordinate</th>
                <th>Y-coordinate</th>
            </tr>
            <tr ng-repeat="joint in joints">
                <td>{{joint.id}}</td>
                <td>{{joint.x}}</td>
                <td>{{joint.y}}</td>
            </tr>
        </table>

        <h3>Member Table</h3>
        <table class="input-table" ng-controller="MemberTableCtrl">
            <tr>
                <th>Member Number</th>
                <th>Left Joint</th>
                <th>Right Joint</th>
                <th>Beam Type</th>
            </tr>
            <tr ng-repeat="member in members">
                <td>{{member.id}}</td>
                <td>{{member.left}}</td>
                <td>{{member.right}}</td>
                <td>{{member.beamType}}</td>
            </tr>
        </table>

        <h3>Beam Specification Table</h3>
        <table class="input-table" ng-controller="BeamTableCtrl">
            <tr>
                <th>Beam Type Number</th>
                <th>Cross-sectional Area</th>
                <th>Elasticity</th>
            </tr>
            <tr ng-repeat="type in beamTypes">
                <td>{{type.id}}</td>
                <td>{{type.area}}</td>
                <td>{{type.elasticity}}</td>
            </tr>
        </table>

    </div>

    <div class="trussmain diagram app-col">
        <h3>Diagram Pane</h3>
    </div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="./dist/js/bootstrap.min.js"></script>

</body>
</html>