body {
  padding-top: 0px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-brand.custom-brand {
  color: #E7B850;
}

.app-row, .app-col { overflow: hidden; position: absolute; }
.app-row { left: 0; right: 0; }
.app-col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

.trusswin.app-row.app-col {
  background-color: #dddddd;
  top: 52px
}

.trussmain {
  margin: 15px;
  background-color:white;
}

.m-trussmain {

}

.m-trussmain > ul {
  top: 52px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 0px;
}

.m-trussmain h4 {
  margin: 10px;
}

.m-trussmain h3 {
  margin: 10px;
}

.m-trussmain > div.app-row {
  bottom: 0px;
  top: 102px;
  padding: 10px;
}

.trussmain.datainput {
  width: 500px;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.trussmain.right-pane {
  left: 515px;
  right: 0;
  padding: 0px;
}

.table-header {
  font-size: 24px;
  text-color: #006682;
  padding-right: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.table-header2 {
  color: #006682;
}

table * {
  text-align: center;
}

.input-table * {
  border: 2px solid #dddddd;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.input-table td {
  padding-right: 0px;
  padding-left: 0px;
}

.input-table th {
  padding-left: 10px;
  padding-right: 10px;
}

.input-table input {
  padding: 0px;
  margin: 0px;
  border-width: 0px;
  border: none;
  width: 70px;
}

.input-table input.wide {
  width: 175px;
}

.title-input {
  font-size: 24px;
  margin-top: 15px;
}

.title-input * {
  padding-right: 10px;
}

.truss-diagram {
  top: 47px;
  bottom: 0px;
  padding: 0px;
}

.joint-diagram {
  fill: black;
}

.diagram-grid {
  stroke: #eeeeee;
  stroke-width: 1;
}

.diagram-grid-label {
  fill: #993d1b;
  font-size: 8;
}

.member-diagram {
  stroke: black;
  stroke-width: 2;
}

.restraint-cross {
  stroke: #993d1b;
  stroke-width: 4;
}

.load-arrow {
  fill: green;
}

.corner {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.corner * {
  border: 2px solid #dddddd;
}

.truss-result {
  top: 47px;
  bottom: 0px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.result-table {

}

.result-table * {
  border: 2px solid #dddddd;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

.table-mod * {
  padding-right: 30px;
  padding-left: 30px;
}

.header-inputs {
  width: 470px;
  border: 2px solid #dddddd;
  padding: 15px;
}

.header-inputs * {
  color: black;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}

.header-inputs tr > * {
  padding: 5px;
}

.header-inputs input {
  text-align: left;
  width: 380px;
}

.header-label {
  font-weight : bold;
}

.force-col {
  width: 200px;
}

.tab-bar {
  padding-left: 5px;
  padding-top: 5px;
}

.error-banner {
  padding: 15px;
  font-size: 18px;
  color: #ff4500;
  border-width: 2px;
  border-style: dashed;
  border-color: #ff4500;
  margin-right: 15px;
}
